*{
    border: 0;
    /* border: 1px solid green; */
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}


.header{
    background: url(../img/bg-header.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.header .navbar {
    background-color: transparent !important;
  }